#countDownTimer {
    justify-content: center;
    text-align: center;
    display:flex;
    color: white;
    margin:0 auto;
    font-size: 50px;
}




.jumbotron {
    text-align: center;
    margin: 10px auto;
    justify-content: center;
    border: 0.08em solid black;
    background-color: pink;
}

.start_quizbtn {   
    justify-content: center;
    text-align: center;
    color: black;

}

.hs_btn{
    color: black;
    
}

.hs_btn:hover {
    color: white;

}
.hidden {
    display: none;
}
#userScore {
    padding: 20px;
    font-weight: bold;
}
#enterInitialLabel-text {
    font-weight: bold;
}

.option {
    display: block;
    margin: 0 auto;

}
ul {
    list-style-type: none; 
    margin: 0 auto;
    padding: 0;

}

li {
    margin: 0 auto;
    font-size: large;
}
.clearListBtn {
    color: black;
    width: 50%;
    /* font-size: large; */
    
}

#viewScoreContainer {
    margin: 0 auto;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;

}