#countDownTimer {
    text-align: center;
    display:flex;
    color: white;
}
.jumbotron {
    text-align: center;
    margin: 10px auto;
    /*display: flex;*/
    justify-content: center;
    /*margin: 10px 10px 10px 10px;*/
    border: 0.08em solid black;
    background-color: pink;
}

.start_quizbtn {   
    justify-content: center;
    text-align: center;
    color: black;

}

.hs_btn{
    color: black;
    
}

.hs_btn:hover {
    color: white;

}
.hidden {
    display: none;
}
#userScore {
    padding: 20px;
    font-weight: bold;
}
#enterInitialLabel-text {
    font-weight: bold;
}
  